body {
    font-family: 'open sans';
}
* {box-sizing: border-box;}

h3 {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

p {color: white;
  text-align: center;
  margin-bottom: 30px;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=password], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #DA32F8;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #8F2BD9;
}

.container {
  background: linear-gradient(42deg, #5846f9 0%, #7b27d8 100%);
  border-radius: 5px;
  max-width: 500px;
  margin: 0 auto;
  padding: 2%;
}
label{ color: #fff;}
a {color:white;}